{% extends "main_app/base.html" %}
{% block content %}
    <h1>Acerca do nossa loja!</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut tempor non erat ac porta. Nullam non velit at justo molestie blandit sed a neque. Vivamus sollicitudin ex et semper venenatis. Maecenas ut urna a magna dapibus cursus a laoreet elit. Duis tempus ut lorem quis bibendum. Pellentesque vitae leo quis nibh aliquet convallis at sed lectus. Ut luctus augue in nibh varius porta. Fusce luctus nisl eu ligula euismod gravida. Fusce tincidunt auctor ultricies.

        Nam in neque vel augue maximus condimentum sed in lacus. Suspendisse non imperdiet lorem, sit amet eleifend orci. Morbi quam ante, tincidunt sed luctus at, sollicitudin ac eros. Ut dignissim quam mauris, a vulputate elit congue in. Nunc vitae sapien ullamcorper justo facilisis commodo vitae quis turpis. Suspendisse ut bibendum risus. Fusce blandit nisi non tellus laoreet dignissim. Ut varius elementum arcu eu ultricies. Vivamus congue fringilla justo non tempor. Curabitur porta elit lobortis, sollicitudin diam ut, finibus lectus. Donec lacinia, sem eget ullamcorper auctor, orci arcu mattis ipsum, nec pulvinar est sapien sit amet odio. Maecenas ut tincidunt est, at tincidunt dui. In semper sapien metus, pretium rhoncus mauris mattis eu. Donec ultrices, metus eget mattis facilisis, dui neque lacinia nibh, at aliquam libero tortor quis justo.
        
        Etiam laoreet congue purus, in venenatis tellus bibendum vitae. Cras rutrum, sem at suscipit consectetur, tellus orci consectetur nisi, in blandit lorem eros et augue. Aliquam arcu libero, vehicula non laoreet vel, vulputate et purus. Curabitur iaculis mi aliquam nisi pulvinar scelerisque. In vel felis tempus, cursus augue sed, interdum nunc. Proin gravida elit ac elit ultricies molestie. Sed lacus nisi, mollis at pretium ac, vulputate ac enim.</p>
{% endblock content %}