{%extends "main_app/base.html"%}
{% load crispy_forms_tags %}
{% block content  %}
  <p>
    <a href="{% url 'storage' %}">Bases</a> > <a href="#">{{ base.address }}</a> > 

  </p>
  <div class="content-section">
    
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <fieldset class="form-group">
          <legend class="border-bottom mb-4"> Informação da base</legend>
          {{ u_form | crispy}}


        </fieldset>
        <div class="form-group">
          <button class="btn btn-outline-info" type="submit" name="button"> Atualizar</button>

        </div>
    </form>
  </div>
{% endblock content%}