{% extends "main_app/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <p><a href="/base_transport/">Bases</a> > Adicionar nova Base</p>
    <div class="content-section">
        <form method="POST" >
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Adicionar base</legend>
                {{ form1|crispy }}
                {{form1.errors}}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Adicionar</button>
            </div>
        </form>

    </div>
{% endblock content %}
