{% extends "main_app/base.html" %}
{% block content %}
    <h1>Bases do transportador</h1>
    {% for transporterbas in transporterbase %}
        <article class="media content-section">
            <div class="media-body">
                <div class="article-metadata">
                    <a class="mr-2" href="{% url 'transporterbase_detail' transporterbas.id%}">{{ transporterbas.address }}</a>
                </div>
                <a class="mr-2" href="{% url 'base_edit' transporterbas.id%}">Editar base</a>
                <a class="mr-2" href="{% url 'delete_base' transporterbas.id%}">Apagar base</a>
            </div>
        </article>
    {% endfor %}
    <a class="nav-item nav-link" href="{% url 'base_register' %}">Adicionar bases </a>

{% endblock content %}
