{% extends "main_app/baseProduct.html" %}\
{% load static %}
{% load crispy_forms_tags %}
{% block content %}

<div class="container" >
    <div class="row">
        <div class="col">
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <fieldset class="form-group">
                    <legend class="border-bottom mb-4">Checkout</legend>
                    {{form|crispy}}
                </fieldset>
                <script src="https://www.paypal.com/sdk/js?client-id=test&currency=EUR"></script>

                <!-- Set up a container element for the button -->
                <div id="paypal-button-container"></div>

                <script>
                paypal.Buttons({
                    // Sets up the transaction when a payment button is clicked
                    createOrder: (data, actions) => {
                    return actions.order.create({
                        purchase_units: [{
                        amount: {
                            value: '77.44' // Can also reference a variable or function
                        }
                        }]
                    });
                    },
                    
                    // Finalize the transaction after payer approval
                    onApprove: (data, actions) => {
                    return actions.order.capture().then(function(orderData) {
                        // Successful capture! For dev/demo purposes:
                        console.log('Capture result', orderData, JSON.stringify(orderData, null, 2));
                        const transaction = orderData.purchase_units[0].payments.captures[0];
                        alert(`Transaction ${transaction.status}: ${transaction.id}\n\nSee console for all available details`);
                        // When ready to go live, remove the alert and show a success message within this page. For example:
                        // const element = document.getElementById('paypal-button-container');
                        // element.innerHTML = '<h3>Thank you for your payment!</h3>';
                        // Or go to another URL:  actions.redirect('thank_you.html');
                    });
                    }
                }).render('#paypal-button-container');
                </script>
                <div class="form-group">
                    <button class="btn btn-outline-success"  href="#">Continuar Checkout</button>
                </div>
            
            </form>
        </div>
        <div class="col ">
            <h1>carrinho</h1>
            {% for order_item in order.items.all %}
            <li class="list-group-item d-flex justify-content-between ">
                <img style="width: 100px; height: 100px;" src="{{ order_item.item.image.url }}">
                <div>
                    <h5>{{order_item.amount}} x {{order_item.item.title}}</h5>
                    <small class="text-muted">{{order_item.item.description}}</small>
                </div>
                <span class="text-muted">{{order_item.get_final_price|floatformat:2}} €</span>
            </li>
            {% endfor %}
            <li class="list-group-item d-flex justify-content-between">
                <h4 class="text-muted"><strong>Total:</strong></h4>
                <span class="text-muted"><strong>{{order.get_cart_total|floatformat:2}} €</strong></span>
            </li>
        </div>
    </div>
</div>
{% endblock content %}