{% extends "main_app/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="content-section">
        <p>
            <a href="/storage/">Armazens</a> > <a href="/storage/"{{storage.id}}>{{ storage.address }}</a> > apagar
            
          </p>
        <form method="POST">
            
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4"> Apagar Armazém</legend>
                <h2>Tens a certeza que queres apagar o armazém "{{storage.address}}"?</h2>
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-danger" type="submit">Sim, apagar</button>
                <a class="btn btn-outline-secondary" href="{% url 'storage' %}">Cancelar</a>
            </div>
        </form>
    </div>
{% endblock content %}