{% extends "main_app/baseProduct.html" %}
{% block content %}
    <div class="w3 container">
        <div class="row">
            <h1>&nbsp;&nbsp; Bem vindo à nossa loja!</h1>
            <br><br><br>

        </div>
        <div class="row">
            {% for product in products %}
            <div class="col-lg-4 " style="width: 90%;">
                <a href="{% url 'product_detail' product.id%}"><img class="thumbnail" src="{{product.image.url}}"></a>
                <div class="box-element product">
                    <a href="{% url 'product_detail' product.id%}"><h6>{{product.title}}</h6></a>
                    <hr>
                    <!--<a href="{% url 'cartadd' %}"><button class="btn btn-outline-secondary add-btn">Adicionar ao carrinho</button></a> -->
                    <a class="btn btn-outline-secondary add-btn" href="{% url 'product_detail' product.id%}">Detalhes</a>
                    <h4 style="float: right;">{{product.price}} €</h4>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
{% endblock content %}