{% extends "main_app/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="content-section">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Iniciar sessão</legend>
                {{ form|crispy }}
            </fieldset>
            <div class="form-group" >
                <button class="btn btn-outline-danger" type="submit">Iniciar sessão</button>
            </div>
        </form>
        <div class="border-top pt-3">
            <small class="text-muted">
                Não tem uma conta? <a class="btn btn-outline-danger ml-2" href="{% url 'register' %}">Regista-te</a>
            </small>
        </div>
    </div>
{% endblock content %}
