{%extends "main_app/baseProduct.html"%}
{% block content  %}
  
  <div class="w3-content">
    <br>
    <div class="row w3-padding-16">
    <a href="{% url 'main_app-home' %}" class="btn btn-outline-secondary add-btn">Voltar para atrás</a>
    </div>
      <div class="w3-half w3-padding-16" style="text-align:left;">
        <h2>{{product.title}}</h2>
        <br>
        <p>Em Stock: {{product.in_stock}} unidades</p>
        <p><strong>Preço: {{product.price}} €</strong></p>
        <p>Descrição: {{product.description}}</p>
        <br><br>
        <div class="border w3-padding-16">
          <h5> &nbsp; Cadeia Logistica:</h5>
          <p> &nbsp;&nbsp; {{product.storage}}</p>
          <p> &nbsp;&nbsp; Fornecedor: {{product.storage.provider}}</p>
          <p> &nbsp;&nbsp; Poluição gerada : {%for eachPollution in pollution%} {{eachPollution.generated}} {{eachPollution.pollution.unit}} de {{eachPollution.pollution.name}} <br>{% endfor %}</p>
          <p> &nbsp;&nbsp; Recursos consumidos : {%for eachResource in resource%} {{eachResource.generated}} {{eachResource.resource.unit}} de {{eachResource.resource.name}}<br>{% endfor %}</p>
        </div>
      </div>
      <div class="w3-half w3-padding-16" style="text-align:center;">
      <img class="border" src="{{ product.image.url }}">
      <p></p>
      <div class="w3-padding-16">
        <a href="{% url 'add-to-cart' product.slug %}" class="btn btn-primary btn btn-success">Adicionar ao carrinho</a>
        <a href="{% url 'remove-from-cart' product.slug %}" class="btn btn-primary btn btn-outline-danger">Remover do carrinho</a>

      </div>
      <div class="row w3-padding-32"></div>
    </div>
    </div>
  </div>
{% endblock content%}