{% extends "main_app/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="content-section">
        <div class="media">
            <img class="rounded-circle account-img" src="{{ user.profile.image.url }}">
            <div class="media-body">
                <h2 class="account-heading">{{ user.username }}</h2>
                <p class="text-secondary">{{ user.email }}</p>
            </div>
        </div>  <!--                  mutlipart.. -> saves the img to the db-->
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Informação de perfil</legend>
                {{ u_form | crispy}}
                {{ p_form | crispy}}
                {{ uu }}
                {{ pu }}

                {{ user_type_form | crispy}}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-success" type="submit">Atualizar</button>
                <a class="btn btn-outline-danger" href="{% url 'UserDelete'%}">Apagar conta</a>
            </div>
        </form>
    </div>
{% endblock content %}