{% extends "main_app/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    
    <div class="content-section">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Junta-te hoje</legend>
                {{ form|crispy }}
            </fieldset>
            <div class="details ID">
                <button class="backBtn" type="submit">
                    Concluir registo
                    <i class="uil uil-navigator"></i>
                </button>
            </div>
        </form>
        <div class="border-top pt-3">
            <small class="text-muted">
                Já tem uma conta? <a style="color: red;" class="class="btn btn-outline-success"ml-2" href="{% url 'login' %}">Iniciar sessão</a>
            </small>
        </div>
    </div>

{% endblock content %}