{% extends "main_app/baseProduct.html" %}
{% load static%}
{% block content %}
    {% if products %}
    <div class="container">
        <div class="w3 container" id="container-products">
            <div class="row">
                {% for product in products %}
                <div class="col-lg-4">
                    <a href="{% url 'product_detail' product.id%}"><img class="thumbnail" src="{{product.image.url}}"></a>
                    
                    <div class="box-element product">
                        <h6>{{product.title}}</h6>
                        <hr>
                        <a href="{% url 'add-to-cart' product.slug %}" class="btn btn-outline-secondary add-btn">Adicionar ao carrinho</a>
                        <a class="btn btn-outline-sucess" href="{% url 'product_detail' product.id%}">Ver</a>
                        <h4 style="display: inline-block; float: right;">{{product.price}}</h4>
                    </div>

                </div>
                {% endfor %}
            </div>
        {% else%}
            <p>Nao existem produtos com essa descrição</p>
        {% endif %}
        </div>
    </div>
{% endblock content %}