{%extends "main_app/base.html"%}
{% load crispy_forms_tags %}
{% block content  %}
  <div class="content-section">
    <div class="media">
      <div class="media-body">
        <h2 class="account-heading">{{storage.address}}</h2>
      </div>
    </div>
    <form action="#" method="POST">
        {% csrf_token %}
        <fieldset class="form-group">
          <legend class="border-bottom mb-4"> Informação armazém</legend>
          {{ u_form | crispy}}


        </fieldset>
        <div class="form-group">
          <button class="btn btn-outline-info" type="submit" name="button"> Atualizar</button>

        </div>
    </form>
  </div>
{% endblock content%}