{%extends "main_app/base.html"%}
{% load crispy_forms_tags %}
{% block content  %}
  <div class="content-section">
    <p>
      <a href="/storage/">Armazens</a> > <a href="/storage/"{{storage.id}}>{{ storage.address }}</a> > Editar
      
    </p>
    <form method="POST">
        {% csrf_token %}
        <fieldset class="form-group">
          <legend class="border-bottom mb-4"> Informação do armazém</legend>
          {{ u_form | crispy}}



        </fieldset>
        <div class="form-group">
          <button class="btn btn-outline-info" type="submit" name="button"> Atualizar</button>

        </div>
    </form>
  </div>
{% endblock content%}
